body {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #80fef8;
    color: pink;
    padding: 20px;
    text-align: right;
}

nav {
    background-color: red;
}

nav ul {
    padding-left: 0px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 120px;
    padding: 10px;
    text-align: center;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    
}

nav ul li a:hover {
    background-color: #80fef8;
}

#main {
    background-color: blue;
}

article {
    /*background-color: yellow;*/
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 30px;
}

aside {
    /*background-color: grey;*/
    display: inline-block;
    width: 29%;
    vertical-align: top;
    padding: 30px;
}

footer {
    background-color: #80fef8;
    padding: 20px;
    text-align: center;
}





